build/

atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.npm
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/dev
atom.symlink/electron
atom.symlink/nohup.out
atom.symlink/packages
atom.symlink/projects.cson
atom.symlink/storage
atom.symlink/themes
