[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
[color "branch"]
  current = yellow black bold
  local = yellow
  remote = magenta
[color "diff"]
  meta = yellow black bold
  frag = magenta
  old = red
  new = green
  whitespace = white
[color "status"]
  added = green bold
  changed = red bold
  untracked = cyan
  branch = yellow black bold
[user]
  email = tyriar@tyriar.com
  name = Daniel Imms
[push]
  default = simple
[credential]
  helper = cache --timeout=7200
[core]
  editor = vim
[alias]
  authors = shortlog -s -n .
  co = checkout
  l = log --pretty='format:%C(yellow)%h %C(blue)%ad %C(reset)%s%C(red)%d %C(green)%an%C(reset), %C(cyan)%ar' --date=short
  sb = "!git status && git branch"
  sf = show --pretty="format:" --name-status
  st = status
  up = branch -u
  upo = branch -u origin/master
  
