dotfiles:
  title: "dotfiles"
  paths: [
    "/home/local/ANT/daniimms/ssd/workspaces/dotfiles"
    "/home/local/ANT/daniimms/workspaces/tyr-tools-old"
    "/home/local/ANT/daniimms/workspaces/tyr-tools-private"
  ]
  icon: "icon-tools"
"depot tools":
  title: "depot tools"
  icon: "icon-tools"
  paths: [
    "/home/local/ANT/daniimms/tools/depot_tools"
  ]
amazon_infra:
  title: "amazon_infra"
  icon: "icon-pulse"
  paths: [
    "/home/local/ANT/daniimms/ssd/workspaces/infra"
  ]
"chromium-linux":
  title: "Chromium linux"
  icon: "icon-globe"
  paths: [
    "/home/local/ANT/daniimms/ssd/workspaces/chromium-linux/src"
  ]
"chromium-android":
  title: "Chromium android"
  icon: "icon-globe"
  paths: [
    "/home/local/ANT/daniimms/ssd/workspaces/chromium-android/src"
  ]
"slate-android":
  title: "slate-android"
  icon: "icon-globe"
  paths: [
    "/home/local/ANT/daniimms/ssd/workspaces/slate-android/src"
  ]
"slate-android-amazon":
  title: "slate-android → amazon"
  icon: "icon-globe"
  paths: [
    "/home/local/ANT/daniimms/ssd/workspaces/slate-android/src/amazon"
  ]
"slate-linux":
  title: "slate-linux"
  icon: "icon-globe"
  paths: [
    "/home/local/ANT/daniimms/ssd/workspaces/slate-linux/src"
  ]
"slate-linux-amazon":
  title: "slate-linux → amazon"
  icon: "icon-globe"
  paths: [
    "/home/local/ANT/daniimms/ssd/workspaces/slate-linux/src/amazon"
  ]
"slate-linux-v44-amazon":
  title: "slate-linux-v44 → amazon"
  icon: "icon-globe"
  paths: [
    "/home/local/ANT/daniimms/ssd/workspaces/slate-linux-v44/src/amazon"
  ]
