"*":
  "exception-reporting":
    userId: "f3cfa406-9a70-3680-f858-0c412c97f37e"
  welcome:
    showOnStartup: false
  metrics:
    userId: "a22f0efc-41ce-ed43-e5c0-88884b9fac7c"
  editor:
    fontSize: 12
    fontFamily: "Hack"
    scrollPastEnd: true
    showIndentGuide: true
    invisibles: {}
  core:
    useReactEditor: true
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      ".pyc"
    ]
    disabledPackages: [
      "wrap-guide"
    ]
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "multi-wrap-guide":
    columns: [
      80
      100
      120
    ]
    locked: true
  minimap:
    plugins:
      "find-and-replace": true
    charHeight: 3
  "project-finder": {}
  "fuzzy-finder":
    useAlternateScoring: true
".js.source":
  editor:
    tabLength: 2
".python.source":
  editor:
    tabLength: 2
".shell.source":
  editor:
    tabLength: 4
".java.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
